/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/** add the class of .start-button to the welcome screen button

/** add a class to the submit button of each question screen that has the class of .submit-question
**/
*{
  box-sizing: border-box;
}
h1{
  font-family:'Grenze Gotisch', cursive;
  font-weight: 700 ;
}
h2{
  font-family:'Grenze Gotisch', cursive;
  font-weight: 700 ;
  text-align:center;
}  

.boxit{
  text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin:5px;
    padding: 5px 0px 5px 0px;
   border-radius: 2%;
    height: auto;
    background-color: rgba(0,0,0,0.75);
    color: white;
    box-shadow:  0px 0px 10px 5px #000000
}

body{
  display: grid;
  place-items: center;
  height: 100vh;
  padding-bottom: 200px;
  padding-top: 50px;
  background-image: url('https://render.fineartamerica.com/images/rendered/share/3248382&domainId=1'),url(background-paint.PNG); 
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode:normal, luminosity;
}

#question-screen{
  text-align: left;
}

#question-screen ul{
  padding: 0px 15px 0px 15px;
  list-style: none;
  margin-top: 0px
}
#question-screen ul div{
  margin:5px;
  padding: 0px;
  margin-top:0
}
#question-screen ul div p{
margin-left: 0; 
margin-right: 0;
}
.container{
  display:flex;
  flex-direction: column;

}
.innercontainer{
  display:flex;
  
  flex-direction: row;
  justify-content: space-between;
}

button{
  width: 100%;
  margin: 0px 8px 0px 8px; 
  font-family:'Grenze Gotisch', cursive;
  font-weight: 700 ;
}

ul, p{
  font-family:'Grenze Gotisch', cursive;
  font-weight: 200;
  font-size: 2.8vmax;
  margin:15px;
  margin-top:0
}
li {
  margin-top: 10px;
 
}

button {
  margin-top: 10px; 
  width: 100%;
  background-color: #000000;
  color:white
}

.text-left {
  text-align: left; 
  margin: 0px 4px 10px 14px;
  font-family:'Grenze Gotisch', cursive;
  font-weight: 200;
}

@media all and (min-width:600px) {

.boxit {

 
  width: 400px;
  
}

}

.textbox {

    all: inherit;
}

body{
 
  background-image: url('https://render.fineartamerica.com/images/rendered/share/3248382&domainId=1'), url(background-paint.PNG); 
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: center, left top;
  background-blend-mode: normal, darken;
}

ul, p {
  font-size: 2vmax;
}